@media (max-width: 768px) {
  /* Định dạng nav */
  .author {
    display: none;
  }
  .e-nav {
    width: 10%;
  }
  .container-nav {
    margin: 0;
  }

  /* Địng dạng thông tin cá nhân */
  #about {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
  }
  #job-info .container {
    grid-template-columns: repeat(2, 320px);
    gap: 20px;
    margin: 0;
  }

  /* Địng dạng phần chứng chỉ */

  #cer-container {
    margin-left: 10px;
  }
  .cert-prf .point-cert {
    grid-column: 2;
  }

  .cert-prf {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .cert-prf::before {
    justify-self: flex-end;
  }

  .dbi-prf {
    row-gap: 20px;
  }

  .cert {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  /* Định dạng phần dự án */

  #project .container {
    padding: 0;
  }

  .Developer {
    flex-direction: column;
  }

  /* Địng dạng phần footer */

  .containerr-f {
    padding: 10px 0;
  }
}
